{% extends "layout.html" %}

{% block body %}
    <h1>Register</h1>
    <form method="post" class="mt-3">
        <div class="mb-3">
            <label class="form-label">Gebruikersnaam</label>
            <input name="username" class="form-control" autofocus>
        </div>
        <div class ="mb-3">
            <label class="form-label">Wachtwoord</label>
            <input name="password" type="password" class="form-control">
        </div>
            <form method="post" class="mt-3">
        <div class="mb-3">
            <label class="form-label">Herhaal Wachtwoord/label>
            <input name="confirmation" type="password" class="form-control">
        </div>
        <button class="btn btn-primary">Registeer</button>
    </form>
{% endblock %}
